.btn {
    border: none;
    border-radius: .5em;
    padding: .8em;
}
.overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
.hidden {
    display: none;
}
.modal {
    border: 1px solid #ccc;
    border-radius: 1em;
    width: 300px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
