#login-form button {
    font-family: "Roboto", sans-serif;
    width: 100%;
    color: #fff;
    border: 0;
    cursor: pointer;
    outline: 0;
    margin: 0 0 1em;
    padding: 1em;
    background: #4caf50;
    text-transform: uppercase;
    transition: all 0.3 ease;
    -webkit-transition: all 0.3 ease;
}

#login-form button:hover, #login-form button:active, #login-form button:focus {
    background: #43a047;
}

